
{% extends "core/index.html" %}
{% load i18n %}

{% block head %}
	<style>
		.tx-12 {
			font-size: 12px;
		}

        #markets-app tr.active {
            background-color: #1d2936;
            color: #FFF;
            font-weight: bold;
        }

        td:not(.show-star) .fa.fa-star {
            display: none;
        }

        td.show-star .fa.fa-star {
            display: inline;
        }

        .btn-xs {
            padding: 0 5px;
        }
	</style>
{% endblock %}

{% block content %}
	<h2 class="page-title"><i class="zmdi zmdi-assignment"></i> {% trans "Orderbook" %}</h2>

	<div class="card-box">
		<div class="row">
                <div class="col-md-8">
                    <div id="orderbook-header" class="m-b-20">
                        <h2 v-text="exchange_name + ' {% trans "Exchange" %}'"></h2>
                        <h6 v-text="pair"></h6>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="card" id="new-b-order-app">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <h6 class="mg-b-0 box-shadow tx-roboto tx-black"><i class="zmdi zmdi-chevron-down"></i> <span v-text="'{% trans "Buy" %} ' + base_currency"></h6>
                                            <p class="tx-12 mg-b-5">{% trans "Start buy here" %}</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <button type="submit" class="btn btn-primary float-right" @click.prenvent="send('b')"><i class="zmdi zmdi-chevron-down"></i> {% trans "Buy" %}</button>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="tx-12">{% trans "Price" %}</label><br>
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="form-control form-control-sm" v-model="price" step="0.000001" min="0">
                                            <span class="input-group-addon tx-size-sm lh-2" v-text="base_currency"></span>
                                        </div>
                                        <small v-text="base_currency + ' ' + '{% trans "available balance" %}: '"></small>
                                        <small><strong v-text="base_currency_balance"></strong></small>
                                        <div class="help-block form-text text-muted form-control-feedback" v-show="errors.price">
                                            <ul class="parsley-errors-list filled">
                                                <li v-for="error_message in errors.price" v-text="error_message"></li>
                                            </ul>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="tx-12">{% trans "Amount" %}</label>
                                        <div class="input-group input-group-sm">
                                            <input type="number" name="" class="form-control form-control-sm" v-model="amount" step="0.000001" min="0">
                                            <span class="input-group-addon tx-size-sm lh-2" v-text="market_currency"></span>
                                        </div>
                                        <small v-text="market_currency + ' ' + '{% trans "available balance" %}: '"></small>
                                        <small><strong v-text="market_currency_balance"></strong></small>
                                        <div class="help-block form-text text-muted form-control-feedback" v-show="errors.amount">
                                            <ul class="parsley-errors-list filled">
                                                <li v-for="error_message in errors.amount" v-text="error_message"></li>
                                            </ul>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="tx-12">{% trans "Total" %}</label>
                                    <div class="input-group input-group-sm">
                                            <input disabled="disabled" type="text" name="" class="form-control form-control-sm" :value="total">
                                            <span class="input-group-addon tx-size-sm lh-2" v-text="base_currency"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                             <div class="card" id="new-s-order-app">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <h6 class="mg-b-0 box-shadow tx-roboto tx-black"><i class="zmdi zmdi-chevron-up"></i> <span v-text="'{% trans "Sell" %} ' + base_currency"></span></h6>
                                            <p class="tx-12 mg-b-5">{% trans "Start sell here" %}</p>
                                        </div>
                                        <div class="col-sm-5">
                                            <button type="submit" class="btn btn-danger float-right" @click.prenvent="send('s')"><i class="zmdi zmdi-chevron-up"></i> {% trans "Sell" %}</button>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="tx-12">{% trans "Price" %}</label><br>
                                        <div class="input-group input-group-sm">
                                            <input type="number" class="form-control form-control-sm" v-model="price" step="0.000001" min="0">
                                            <span class="input-group-addon tx-size-sm lh-2" v-text="base_currency"></span>
                                        </div>
                                        <small v-text="base_currency + ' ' + '{% trans "available balance" %}: '"></small>
                                        <small><strong v-text="base_currency_balance"></strong></small>
                                        <div class="help-block form-text text-muted form-control-feedback" v-show="errors.price">
                                            <ul class="parsley-errors-list filled">
                                                <li v-for="error_message in errors.price" v-text="error_message"></li>
                                            </ul>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="tx-12">{% trans "Amount" %}</label>
                                        <div class="input-group input-group-sm">
                                            <input type="number" name="" class="form-control form-control-sm" v-model="amount" step="0.000001" min="0">
                                            <span class="input-group-addon tx-size-sm lh-2" v-text="market_currency"></span>
                                        </div>
                                        <small v-text="market_currency + ' ' + '{% trans "available balance" %}: '"></small>
                                        <small><strong v-text="market_currency_balance"></strong></small>
                                        <div class="help-block form-text text-muted form-control-feedback" v-show="errors.amount">
                                            <ul class="parsley-errors-list filled">
                                                <li v-for="error_message in errors.amount" v-text="error_message"></li>
                                            </ul>
                                          </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="tx-12">{% trans "Total" %}</label>
                                    <div class="input-group input-group-sm">
                                            <input disabled="disabled" type="text" name="" class="form-control form-control-sm" :value="total">
                                            <span class="input-group-addon tx-size-sm lh-2" v-text="base_currency"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" id="markets-app">
                	<div class="row">
                        <div class="col-sm-8">
                            <h2 class="tx-roboto tx-black"><i class="zmdi zmdi-chart"></i> {% trans "Markets" %}</h2>
                        </div>
                        <div class="col-sm-4">
                        	<div class="btn-group btn-group-sm pull-right" role="group">
                              <button type="button" v-for="item in base_currencies" :class="{'btn': true, 'btn-dark active': item.symbol == base_currency, 'btn-primary': item.symbol != base_currency}" @click.prevent="set_base_currency(item.symbol)" v-text="item.symbol"></button>
							</div>
                        </div>
                    </div>
                    <table class="table table-sm table-striped table-hover tx-12 m-t-10">
                        <thead>
                            <tr>
                                <th class="text-right"><i class="zmdi zmdi-label-alt"></i> {% trans "Coin" %}</th>
                                <th class="text-right"><i class="zmdi zmdi-label-alt"></i> {% trans "Symbol" %}</th>
                                <th class="text-right"><i class="zmdi zmdi-money"></i> {% trans "Price" %}</th>
                                <th class="text-right"><i class="zmdi zmdi-money"></i> {% trans "Volume" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr :class="{'text-right': true, 'active': item.currency == market_currency}" v-for="item in markets" @click.prevent="set_market_currency(item.currency)">
                                <td v-text="item.name"></td>
                                <td v-text="item.currency"></td>
                                <td v-text="item.price"></td>
                                <td v-text="item.volume"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            

            <div class="row m-t-30">
                <div class="col-md-6">
                    <div class="card-box" id="sell-orders-app">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5><i class="zmdi zmdi-chevron-up"></i> {% trans "Sell Orders" %}</h5>
                            </div>
                        </div>
                        <hr>
                        <table class="bd table table-sm table-striped table-hover tx-12 tx-roboto tx-gray-900">
                            <thead>
                                <tr role="row">
                                    <th class="text-right">
                                        <i class="zmdi zmdi-balance"></i> {% trans "Price" %}
                                    </th>
                                    <th class="text-right">
                                        <i class="zmdi zmdi-money"></i> {% trans "Amount" %}
                                    </th>
                                    <th class="text-right">
                                        <i class="zmdi zmdi-chart"></i> {% trans "Total" %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="text-right">
                                <tr v-for="item in orders" @click.prevent="populate_order(item)">
                                    <td v-text="item.price + ' - ' + item.price_currency"></td>
                                    <td v-text="item.amount + ' - ' + item.amount_currency"></td>
                                    <td v-text="item.total + ' - ' + item.price_currency"></td>
                                    <td :class="{'show-star': item.is_mine}"><i class="fa fa-star"></i> <a href="#" @click.prevent="cancel_order(item.pk)" class="btn btn-xs btn-danger" title="{% trans "Cancel my order" %}"><strong>&times;</strong></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card-box" id="buy-orders-app">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5><i class="zmdi zmdi-chevron-down"></i> {% trans "Buy Orders" %}</h5>
                            </div>
                        </div>
                        <hr>
                        <table class="bd table table-sm table-striped table-hover tx-12 tx-roboto tx-gray-900">
                            <thead>
                                <tr role="row">
                                    <th class="text-right">
                                        <i class="zmdi zmdi-balance"></i> {% trans "Price" %}
                                    </th>
                                    <th class="text-right">
                                        <i class="zmdi zmdi-money"></i> {% trans "Amount" %}
                                    </th>
                                    <th class="text-right">
                                        <i class="zmdi zmdi-chart"></i> {% trans "Total" %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="text-right">
                                <tr v-for="item in orders" @click.prevent="populate_order(item)">
                                    <td v-text="item.price + ' - ' + item.price_currency"></td>
                                    <td v-text="item.amount + ' - ' + item.amount_currency"></td>
                                    <td v-text="item.total + ' - ' + item.price_currency"></td>
                                    <td :class="{'show-star': item.is_mine}"><i class="fa fa-star"></i> <a href="#" @click.prevent="cancel_order(item.pk)" class="btn btn-xs btn-danger" title="{% trans "Cancel my order" %}"><strong>&times;</strong></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>

        <div class="row m-t-30">
            <div class="col-md-12">
                <div class="card-box" id="executed-orders-app">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5><i class="zmdi zmdi-time-restore"></i> {% trans "Orders History" %}</h5>
                        </div>
                    </div>
                    <hr>
                    <table class="bd table table-sm table-striped table-hover tx-12 tx-roboto tx-gray-900">
                        <thead>
                            <tr role="row"><th class="text-right" rowspan="1" colspan="1" style="width: 426px;"><i class="zmdi zmdi-calendar"></i> Date</th><th class="text-right" rowspan="1" colspan="1" style="width: 118px;"><i class="zmdi zmdi-label-alt"></i> Type</th><th class="text-right" rowspan="1" colspan="1" style="width: 261px;"><i class="zmdi zmdi-balance"></i> Price (BTC)</th><th class="text-right" rowspan="1" colspan="1" style="width: 360px;"><i class="zmdi zmdi-money"></i> Amount (BTS)</th><th class="text-right" rowspan="1" colspan="1" style="width: 264px;"><i class="zmdi zmdi-chart"></i> Total (BTC)</th>
                                <th></th></tr>
                        </thead>
                        <tbody class="text-right">
                            <tr v-for="item in orders">
                                <td v-text="item.updated"></td>
                                <td v-text="item.type"></td>
                                <td v-text="item.price"></td>
                                <td v-text="item.amount"></td>
                                <td v-text="item.total"></td>
                                <td :class="{'show-star': item.is_mine}"><i class="fa fa-star"></i></td>
                            </tr>
                        </tbody>
                </table>
                </div>
            </div>
        </div>
	</div>
{% endblock %}

{% block scripts %}
    {% include "orderbook/scripts/orders.vue.html" with base_currencies=base_currencies %}
{% endblock %}